.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.main {
    width: 600px;
    height: 800px;
    background-color: antiquewhite;
    border: 1px solid black;
    
}

label {
    font-size: 30px;
}

.your_name {
    font-size: 25px;
}